<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/tab-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/all.css">
    <title>Biteboxd - All</title>
    <script src="script/general.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script/all.js"></script>
    <script src="script/search-bar.js"></script>

</head>
<body>
   {{> navbar}}
    
    <main>
        <div class="category-title" id="category-title">

            <p>All Restaurants</p>
        </div>

        {{>searchBar}}

        <div class="category-header">
            <div class="categories">
                <button class="category-button" id="fil" onclick="changeCategory('fil')">Filipino</button>
                <button class="category-button" id="cof" onclick="changeCategory('cof')">Coffee</button>
                <button class="category-button" id="jap" onclick="changeCategory('jap')">Japanese</button>
                <button class="category-button" id="chi" onclick="changeCategory('chi')">Chinese</button>
                <button class="category-button" id="ame" onclick="changeCategory('ame')">American</button>
                <button class="category-button" id="ita" onclick="changeCategory('ita')">Italian</button>
                <button class="category-button" id="kor" onclick="changeCategory('kor')">Korean</button>
                <button class="category-button" onclick="resetCategory()">All</button>
            </div>
            <select id="sorting">
                <option value="az">A-Z</option>
                <option value="za">Z-A</option>
                <option value="rating">Rating</option>
                <option value="rating-high-low">Rating (high-low)</option>
            </select>
        
        </div>

        <div class="catalogue">
            <div class="gallery">
                {{#each results}}

                    <div class="resto-container {{tag}}" onclick="goToReviewPage('{{_id}}')">
                        <div class="pic-container">
                            <img src="assets/restaurant icons/{{media}}" alt="" class="store-pic">
                        </div>
                        <div class="stars">
                            {{#times stars}}
                                <img src="assets/star.png" alt="" class="star">
                            {{/times}}
                            {{#times noStars}}
                                <img src="assets/star.png" alt="" class="star nostar">
                            {{/times}}

                        </div>
                        
                        <div class="text-area">
                            <p class="title">{{name}}</p>
                            <p class="caption">📍 <b>{{location}}</b> - {{shortDescription}}</p>
                        </div>
                    </div>
                {{/each}}
                  

            </div>
        </div>


    </main>

</body>
</html>