<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/own-profile.css">
        <link rel="shortcut icon" href="/assets/tab-icon.png" type="image/x-icon">
        <!-- jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            
        <script src="/script/general.js"></script>
        <script src="/script/like.js"></script>
        <script src="/script/slider.js"></script>
        <script src="/script/quill.js"></script>
        <script src="/script/editReview.js"></script>
    


        <script src="/script/own-profile.js"></script>
  
        <script src="/script/edit-profile.js" defer></script>

     
        <!-- quill -->
        <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet">
        
    
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://unpkg.com/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    


        <title>@{{profile.username}}'s Profile - BiteBoxd</title>
    </head>
<body>
    {{> navbar}}



    <main>

        <div class="profile">
            <div class="info-container">
                <div class="handle-edit">
                    <div class="handle">
                        <h1 id="profile-username">@{{profile.username}}</h1>
                    </div>
                    <div class="edit">
                        <button class="edit-btn">Edit Profile</button>

                        <!-- edit profile popup-->
                        <div id="editProfileModal" class="modal">
                            <div class="modal-content">
                                <span class="close-button">&times;</span>
                                <h2>Edit Profile</h2>
                                <form id="editProfileForm" action="/edit-profile" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="profilePic">Profile Picture:</label>
                                        <input type="file" id="profilePic" name="profilePic">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label for="backgroundPic">Background Picture:</label>
                                        <input type="file" id="backgroundPic" name="backgroundPic">
                                    </div>

                                    <div class="form-group">
                                        <label for="firstName">First Name:</label>
                                        <input type="text" id="firstName" name="firstName" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="lastName">Last Name:</label>
                                        <input type="text" id="lastName" name="lastName" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="bio">Bio:</label>
                                        <textarea id="bio" name="bio" required></textarea>
                                    </div>
                                    
                                    <div class="form-group save-changes-div">
                                        <button type="submit" class="save-changes">Save Changes</button>
                                    </div>
                                </form>

                            </div>
                            
                        </div>

                    </div>
                </div>
                
        
                <div class="user-info">
                    <div class="fullname">
                        <img src="/assets/full-name-icon.png" alt="full name icon" class="icon">
                        <h3 id="first-name">{{profile.firstName}}</h3> <h3>&nbsp;</h3> <h3 id="last-name">{{profile.lastName}}</h3>
                    </div>
                    <div class="date-created">
                        <img src="/assets/calendar.png" alt="date icon" class="icon">
                        <h3>{{formatMonthYear profile.createdAt}}</h3>
                    </div>
                </div>
                <div class="bio">
                    <input type="text" name="" id="bio" disabled value="{{profile.bio}}" placeholder="No bio found.">
                </div>
            </div>
            <div class="profile-tabs"> 
                <button class="tab-btn" id="Reviews"> Reviews</button>
                <button class="tab-btn" id="about">About</button>
                <div class="line"></div>
            </div>

        <div class="content-box">


            <!-- Reviews -->

            <div class="content">
                {{#each reviews}}
                    {{> reviews}}
                {{else}}
                    <p>No reviews found.</p>
                {{/each}}
            </div>

           
            

            <!-- About -->
            <div class="content">
                <div class="user-ratings-container">
                    <!-- Ratings section -->
                    <div class="rating-labelled">
                        <div class="rating-label-percentage">
                            <p class="number-about">{{profile.hearts}}</p>
                            <p class="label-about">Likes</p>
                        </div>
                    </div>
                    <div class="rating-labelled">
                        <div class="rating-label-percentage">
                            <p class="number-about">{{profile.dislike}}</p>
                            <p class="label-about">Dislikes</p>
                        </div>
                    </div>
                    <div class="rating-labelled">
                        <div class="rating-label-percentage">
                            <p class="number-about">{{profile.credibility}}</p>
                            <p class="label-about">Credibility</p>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <!-- Taste profile section -->
                <div class="taste-profile-container">
                    <h2 class="taste-profile-label">Taste Profile</h2>
                    <div class="taste-profile-items">
                        {{#each profile.tasteProfile}}
                            <div class="taste-profile-item">{{this}}</div>
                        {{/each}}
                    </div>
                </div>

                <div class="divider"></div>
                <div class="recent-activities-container">

                <h2 class="taste-profile-label">Reviews You've Liked</h2>
                {{!-- {{#if profile.likedReviews.length}} --}}
                {{#each likedReviews}}
                    {{> reviews}}   
                {{/each}}

                <div class="divider"></div>

                <div class="delete-profile-container">
                <button class="delete-profile" onclick="deleteProfile('{{profile.username}}')">Delete Profile</button>
                </div>
            </div>
            </div>


        </div>
            </div>
        <div class="avatar-container">
            <div class="avatar-boorder">
                <div class="avatar">
                    <img src="/uploads/avatars/{{profilePicture}}" alt="Profile Avatar" id="profile-pic" class="profile-pic">
                    {{!-- <img src="/{{session.profilePicture}}" alt="Profile Picture" id="profile-pic"> --}}

                </div>
            </div>
        </div>
    </main>
</body>
</html>