<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/tab-icon.png" type="image/x-icon">
    <title>{{name}}</title>
    <script src="/script/general.js"></script>
    <script src="/script/quillSettings.js"></script>
    <script src="/script/resto-responsepage.js"></script>
  
    <script src="/script/slider.js"></script>
  
    <link rel="stylesheet" href="/styles/resto-responsepage.css">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    {{> navbar}}

    <main class = "main">

        {{> searchBar}}

        <div class="restoinfo">

            <div class="options" id="optionsbtns">
                <div class="optionsbutton">
                    <span class="editoption" onclick ="editRestaurant()">Edit</span>
                    <span class="deleteoption" onclick="deleteRestaurant()">Delete</span>
                </div>
            </div>

            <div class="editModalOverlay" id="overlay" onclick="closeEditPopup()"></div>

            <!-- for editing -->
            <div id="editModal" class="editModal">
                <span class="close-button" onclick="closeEditPopup()">&times;</span>
                <span id="editheader">Edit Restaurant Details</span>
                <form>
                    <div class="upper-part">
                        <div class="left-side">
                            <div class="input-group">
                                <label for="restoName" class="editlabel">Restaurant Name:</label>
                                <input type="text" id="restoName" name="restoName" value="{{name}}" class="styled-input">
                            </div>
                            <div class="input-group">
                                <label for="address" class="editlabel">Address:</label>
                                <input type="text" id="address" name="address" value="{{location}}" class="styled-input">
                            </div>
                            
                            <div class="input-group">
                                <label for="tags" class="editlabel">Tags:</label>
                                <input type="text" id="tags" name="tags" value="{{tag}}" class="styled-input">
                            </div>
                        </div>
                    
                        <div class="right-side">
                            <div class="input-group">
                                <label for="price" class="editlabel">Price Range:</label>
                                <div class="samerow">
                                    <input type="text" id="pricestart" name="pricestart" value="₱{{startPriceRange}}" class="styled-input">
                                    <label for="price" class="editlabel"> - </label>
                                    <input type="text" id="priceend" name="priceend" value="₱{{endPriceRange}}" class="styled-input">
                                </div>
                                
                            </div>
                            
                            <div class="input-group">
                                <label for="daysopen" class="editlabel">Days Open:</label>
                                <div class="samerow">
                                    <select id="daysopenstart" name="daysopenstart" class="styled-input">
                                        <option value="Monday">Monday</option>
                                        <option value="Tuesday">Tuesday</option>
                                        <option value="Wednesday">Wednesday</option>
                                        <option value="Thursday">Thursday</option>
                                        <option value="Friday">Friday</option>
                                        <option value="Saturday">Saturday</option>
                                        <option value="Sunday">Sunday</option>
                                    </select>
                                    <label for="daysopen" class="editlabel"> - </label>
                                    <select id="daysopenend" name="daysopenend" class="styled-input">
                                        <option value="Monday">Monday</option>
                                        <option value="Tuesday">Tuesday</option>
                                        <option value="Wednesday">Wednesday</option>
                                        <option value="Thursday">Thursday</option>
                                        <option value="Friday">Friday</option>
                                        <option value="Saturday">Saturday</option>
                                        <option value="Sunday">Sunday</option>
                                    </select>
                                </div>

                            </div>
                            <div class="input-group">
                                <label for="operatinghour" class="editlabel">Operating Hour:</label>
                                <div class="samerow">
                                    <input type="time" id="operatinghourstart" name="operatinghourstart" class="styled-input">
                                    <label for="operatinghour" class="editlabel"> - </label>
                                    <input type="time" id="operatinghourend" name="operatinghourend" class="styled-input">
                                </div>

                            </div>
                        </div>
                    </div>                    
                    
                    <div class="shortdescription">
                        <label for="shortdesc" class="editlabel" id="shortdesclabel">Short Description:</label>
                        <textarea id="shortdesc" name="shortdesc"></textarea>
                    </div>

                    <div class="descriptionedit">
                        <label for="desc" class="editlabel" id ="desclabel"> Description:</label>
                        <textarea id="desc" name="desc"></textarea>
                    </div>

                    <div class="attributesedit">
                        <div class="firstbatchattri">
                            <div class="feature"><input type="checkbox" id="deliveryCheckbox"> Offers Delivery</div>
                            <div class="feature"><input type="checkbox" id="outdoorDiningCheckbox"> Outdoor dining</div>
                            <div class="feature"><input type="checkbox" id="indoorDiningCheckbox"> Indoor dining</div>
                            <div class="feature"><input type="checkbox" id="groupsCheckbox"> Good for Groups</div>
                        </div>
                    
                        <div class="secondbatchattri">
                            <div class="feature"><input type="checkbox" id="musicTvCheckbox"> Music and TV</div>
                            <div class="feature"><input type="checkbox" id="driveThruCheckbox"> Drive-thru</div>
                            <div class="feature"><input type="checkbox" id="takeoutCheckbox"> Offers Takeout</div>
                            <div class="feature"><input type="checkbox" id="creditCardsCheckbox"> Accepts Credit Cards</div>
                        </div>
                    
                        <div class="thirdbatchattri">
                            <div class="feature"><input type="checkbox" id="eWalletCheckbox"> Accepts E-Wallet</div>
                            <div class="feature"><input type="checkbox" id="kidsCheckbox"> Good for Kids</div>
                            <div class="feature"><input type="checkbox" id="petsCheckbox"> Good for Pets</div>
                            <div class="feature"><input type="checkbox" id="veganCheckbox"> Vegetarian/Vegan Offerings</div>
                        </div>
                    </div>

                    <button type="submit" class ="saveeditbutton">Save Changes</button>
                </form>
            </div>

            <div class="restopictureareaedit" onclick="openFileInput()">
                <img src="/assets/restaurant icons/{{media}}" alt="Picture" class="restopicture" id ="restopicture">
                <button class="change-button">Change Picture</button>
            </div>

            <div class="restodetailsarea">
                <div class="nameandoverallscore">
                    <h1 class="resto-title" id="restoname">{{name}}</h1>
                    <h2 class="yellowscore">{{rating}}/5</h2>
                </div>
                <div class="moredetails">

                    <p class="restodetail" id="emojip">
                        {{#times numberOfCash}}
                            💵
                        {{/times}}
                        (P{{startPriceRange}}-{{endPriceRange}})</p>
                    {{#each tag}}
                        <p class="restodetail">{{this}}</p>
                    {{/each}}
                    {{!-- <p class="restodetail">{{tag2}}</p> --}}
                    <p class="restodetail">Open during: {{startOpeningDay}}-{{endOpeningDay}} ({{startOpeningHour}} - {{endOpeningHour}})</p>
                </div>
                <p class="location" id="location">{{location}}</p>
                <br>
                <p class="description" id ="description">{{description}}</p>
                <br>
                <div class="attributes">

                    <div class="firstbatchattri">
                        <div class="feature">
                            {{#if (get amenities 0 0) }} <span class="cross" id="deliveryCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="deliveryCheckbox">&#10004;</span> {{/if}}
                            Offers Delivery
                            </div>
                        <div class="feature">
                             {{#if (get amenities 1 0) }} <span class="cross" id="outdoorDiningCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="outdoorDiningCheckbox">&#10004;</span> {{/if}}
                            Outdoor dining
                        </div>
                        <div class="feature">
                            {{#if (get amenities 2 0) }}  <span class="cross" id="indoorDiningCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="indoorDiningCheckbox">&#10004;</span> {{/if}}
                            Indoor dining 
                        </div>
                        <div class="feature">
                            {{#if (get amenities 3 0) }} <span class="cross" id="groupsCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="groupsCheckbox">&#10004;</span> {{/if}}
                            Good for Groups
                        </div>
                    </div>

                    <div class="secondbatchattri">
                        <div class="feature">
                            {{#if (get amenities 4 0) }} <span class="cross" id="musicTvCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="musicTvCheckbox">&#10004;</span> {{/if}}
                            Music and TV
                        </div>
                        <div class="feature">
                            {{#if (get amenities 5 0) }} <span class="cross" id="driveThruCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="driveThruCheckbox">&#10004;</span> {{/if}}
                            Drive-thru
                        </div>
                        <div class="feature">
                            {{#if (get amenities 6 0) }} <span class="cross" id="takeoutCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="takeoutCheckbox">&#10004;</span> {{/if}}
                            Offers Takeout
                        </div>
                        <div class="feature">
                             {{#if (get amenities 7 0) }} <span class="cross" id="creditCardsCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="creditCardsCheckbox">&#10004;</span> {{/if}}
                            Accepts Credit Cards
                        </div>
                    </div>
                    
                    <div class="thirdbatchattri">
                        <div class="feature">
                            {{#if (get amenities 8 0) }} <span class="cross" id="eWalletCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="eWalletCheckbox">&#10004;</span> {{/if}}
                            Accepts E-Wallet
                        </div>
                        <div class="feature">
                            {{#if (get amenities 9 0) }} <span class="cross" id="kidsCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="kidsCheckbox">&#10004;</span> {{/if}}
                            Good for Kids
                        </div>
                        <div class="feature">
                            {{#if (get amenities 10 0) }} <span class="cross" id="petsCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="petsCheckbox">&#10004;</span> {{/if}}
                            Good for Pets
                        </div>
                        <div class="feature">
                            {{#if (get amenities 11 0) }} <span class="cross" id="veganCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="veganCheckbox">&#10004;</span> {{/if}}
                            Vegetarian/Vegan Offerings
                        </div>
                    </div>

                </div>
            </div>
        </div>

        
        <hr>
        <div class="reviewarea">

            <div class="reviewheader">
                <h1>Reviews</h1>
            </div>

            <br>

            <div class="publishedrevarea">
                <div class="search-container">
                    <div class="star-sorting">
                        <p>Filter reviews: </p>
                        <span onclick="stars.handleClick(1)" class="slider-star-rating">★</span>
                        <span onclick="stars.handleClick(2)" class="slider-star-rating">★</span>
                        <span onclick="stars.handleClick(3)" class="slider-star-rating">★</span>
                        <span onclick="stars.handleClick(4)" class="slider-star-rating">★</span>
                        <span onclick="stars.handleClick(5)" class="slider-star-rating">★</span>
                    </div>
                     <img src="/assets/search-icon.svg" alt="" class="search-icon">
                    <input type="search" class="search-bar" placeholder="Find a review">
                    <img src="/assets/clear.svg" alt="" onclick="clearSearchBar()" class="clear-icon" id="clear-icon">
                    <button class="search-button" onclick="searchReview()">
                        Search
                    </button>
                </div>

                <div class="review-and-response">
                    {{#each reviews}}
                    <div class="review"> 
                        <div class="review-panel">
                            <div class="profile-score">
                                <div class="profilearea">
                                    <img src="/uploads/avatars/{{profilePicture}}" class="profilepic">
                                </div>
                                <div class="score">
                                    <h2 class="yellowscore" id="user-score">{{overallRating}}</h2>
                                </div>
                                <div class="reply" onclick="injectQuill(this)">Reply</div>

                            </div>
    
                            <div class="review-center-tile">
                                <div class="score-username">
                                    <h2 class="titlearea">{{title}}</h2>
                                
                                    <div class="nametitle">
                                        <a href="others-profile" class="nameandtime">@{{username}}</a>
                                        <p class="nameandtime"> · </p>
                                        <p class="nameandtime">{{createdAt}}</p>
                                    </div>
                                </div>
                                <div class="criteriaratings">
                                    <div class="criteriascore">
                                        <h4 class="criteria">Food Quality
                                        <div class="stars">
                                           {{#times foodRating}}
                                                <span>🍗</span>
                                            {{/times}}
                                            {{#times noFood}}
                                                <span class="over-emoji">🍗</span>
                                            {{/times}}
                                        </div>
                                    </div>
            
                                    <div class="criteriascore">
                                        <h4 class="criteria">Service
                                        <div class="stars">
                                           {{#times serviceRating}}
                                                <span>🤝</span>
                                            {{/times}}
                                            {{#times noService}}
                                                <span class="over-emoji">🤝</span>
                                            {{/times}}
                                        </div>
                                    </div>
            
                                    <div class="criteriascore">
                                        <h4 class="criteria">Affordability
                                        <div class="stars">
                                           {{#times affordabilityRating}}
                                                <span>💵</span>
                                            {{/times}}
                                            {{#times noMoney}}
                                                <span class="over-emoji">💵</span>
                                            {{/times}}
                                        </div>
                                    </div>
                                </div>
    
                                <div class="reviewtext" id="rev{{order}}">
                                    <span class="longtext">{{longText}}</span>
                                    {{#unless hasNoSeeMore}}
                                        <span class="full-text">{{fullText}}</span><span class="see-more" onclick="toggleSeeMore('rev{{order}}')"><b>...see more</b></span>
                                    {{/unless}}
                                </div>
                        
                            </div>
    
    
                            <div class="rate-review" id="likeDislikeButtons">
                                <div class="options-button" onclick="toggleOptions()">
                                    <button class="a" id="a">&#128077;</button>
                                    <span class = "numberoffeedback">{{noOfLikes}}</span>
                                    <button class="a" id="b">&#128078;</button>
                                    <span class="numberoffeedback">{{noOfDislikes}}</span>
                                </div>
                            </div>
                        
            
                        </div>
    
                        <div class="photopanel">
                            {{#each media}}

                                {{#if (isVideo this)}}
                                    <video src="/assets/{{this}}" class="revpic" onclick="openModal('/assets/{{this}}')"></video>

                                {{else}}
                                    <img src="/assets/{{this}}" class="revpic" onclick="openModal('/assets/{{this}}')"></img>

                                {{/if}}
                            {{/each}}
                        </div>
    
                        
                        <div class="modal" id="modal" onclick="closeModal()">
                            <div class="modal-content" onclick="event.stopPropagation();">
                            <span class="close" onclick="closeModal()">&times;</span>
                            <div id="modal-media-container"></div>
                            </div>
                        </div>
                        

                    <div class="replypanel" id ="replypanel">
                        <div class="reply-editorarea" id="reply-editor-container">
                           <div class="reply-editor"></div>
                        </div>
                        <div class="publish-button" onclick="handleReply(this)">Publish Reply</div>
                    </div>
                    
                
                    {{#each replies}}
                            <div class="responsepanel">
                            
                                <div class="score-username">
                                    
                                    <div class="profilearea">
                                        <img src="/assets/restaurant icons/{{media}}" class="profilepic">
                                    </div>

                                    <div class="titlearea">

                                        <h2>{{name}} <i class="fas fa-check-circle verified-icon"></i></h2>
                                        <p class="nameandtime">{{createdAt}}</p>

                                    </div>
                                
                                </div>
                                
                                <div id="replytext">
                                    {{body}}
                                </div>
                            </div>
                    {{/each}}
                    </div>
                {{/each}}
            </div>
        </div>  
        </div>
    
    
    </main>
    <script>
        const filterReviewSlider = new Slider(document.getElementsByClassName('slider-star-rating'));
        filterReviewSlider.initializeHover();


        let quillTargets = document.getElementsByClassName('reply-editor')
        let replyPanels = document.getElementsByClassName('replypanel')
        let responsePanels = document.getElementsByClassName('responsepanel')

        
        let quills = []
        Array.from(quillTargets).forEach(quillTarget => quills.push(createQuill(quillTarget)));
        Array.from(replyPanels).forEach(replyPanel => $(replyPanel).hide());
        Array.from(responsePanels).forEach(responsePanel => 
        {
            let bodyText = responsePanel.querySelector("#replytext")

            if(bodyText.innerHTML.length == 0){
                console.log('here');
                $(responsePanel).hide()
            }

        }

        );


        adjustNavBar();
    </script>
    <script src="/script/resto-responsepage.js"></script>
</body>
</html>