<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/tab-icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/styles/resto-reviewpage.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.4/css/uikit.min.css" />  --}}
    <title>Review Restaurant</title>


    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="/script/general.js"></script>
    <script src="/script/like.js"></script>
    <script src="/script/slider.js"></script>
    <script src="/script/search-bar.js"></script>
    <script src="/script/quill.js"></script>
    

    <!-- quill -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet">

    <!-- map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>

    <!-- chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <script src="/script/resto-reviewpage.js"></script>

</head>
<body>
    {{> navbar}}


    <main class = "main">
       <div class="left">
       {{>searchBar}} 
        {{>restocard}}
        <div class="reviewarea">

            <div class="reviewheader">
                <h1>Location</h1>            
            </div>


            <div class="rating-map-container">
                <input type="hidden" id="xcoord" value="{{xcoord}}">
                <input type="hidden" id="ycoord" value="{{ycoord}}">
                <div id="map"></div>

            </div>

           <hr>
            <div class="publishrevarea" >

                {{#unless loggedIn}}
                    <div class="cannot-publish" id="cannot-publish">
                        <a href="/login">Log in to leave a review</a>
                    </div>
                {{/unless}}

                {{#if loggedIn}}
                    <div class="publishreview" id="publishreview">
                        
                        <div class="criteriaratearea">
                            <div class="criteriarate">
                                <h3 class="criterialbl">Food Quality</h3>
                                <div class="star-sorting" data-criterion="food">
                                    {{#times 5}}
                                        <span class="slider-emoji-rating review-food-rating review-rating">🍗</span>
                                    {{/times}}
                                </div>
                            </div>

                            <div class="criteriarate">
                                <h3 class="criterialbl">Service</h3>
                                <div class="star-sorting" data-criterion="service">
                                    {{#times 5}}
                                        <span class="slider-emoji-rating review-service-rating review-rating">🤝</span>
                                    {{/times}}
                                </div>
                            </div>

                            <div class="criteriarate">
                                <h3 class="criterialbl">Affordability</h3>
                                <div class="star-sorting" data-criterion="price">
                                      {{#times 5}}
                                        <span class="slider-emoji-rating review-price-rating review-rating">💵</span>
                                    {{/times}}
                                </div>
                            </div>
                            
                        </div>

                        <div class="title-container">
                            <textarea id="review-title" class="textbox" rows="1" placeholder="Title"></textarea>
                            {{!-- <br> --}}
                        </div>

                        <br>
                        
                        <div id="review-editor">
                        </div>

                        <br>
                        
                        <div class="uploadarea">
                            <div class="photo-upload">
                                <label for="photo-input" class="upload-label">
                                <img src="/assets/upload.svg" alt="Upload Icon" class="upload-icon">
                                <br>
                                <span class="upload-text">Upload</span>
                                </label>
                                <input type="file" id="photo-input" name="photos" accept="image/*,video/*" multiple class="hidden-input">
                            </div>
                            
                        
                            <div class="photo-container" id="photo-container">
        
                            </div>
        
                            <div class="modal" id="modal" onclick="closeModal()">
                                <div class="modal-content" onclick="event.stopPropagation();">
                                <span class="close" onclick="closeModal()">&times;</span>
                                <div id="modal-media-container"></div>
                                </div>
                            </div>
                        </div>
                
                        

                        <div class="alignpublishbutton">
                            <button class="publish-button" id="publishBtn">Publish</button>
                        </div>
                    </div>
                {{/if}}
            </div>

            <hr>
            <div class="publishedrevarea">
              
                {{#each reviews}}
                        <div class="review"> 
                        <div class="review-panel" id="reviewPanel2">

                            <div class="profile-score">
                                <div class="profilearea">
                                    <img src="/uploads/avatars/{{profilePicture}}" class="profilepic">
                                </div>
                                <div class="score">
                                    <h2 class="yellowscore" id="user-score">{{overallRating}}
                                    </h2>
                                </div>
                            </div>

                            <div class="review-center-tile">
                                <div class="score-username">
                                    <h2 class="titlearea">
                                        {{#if isOwnReview}}
                                            <i class="fas fa-star owned"></i>
                                        {{/if}}
                                        {{title}}</h2>
                                
                                    <div class="nametitle">
                                        <a href="/profile/{{username}}" class="nameandtime">@{{username}}</a>
                                        <p class="nameandtime"> · </p>
                                        <p class="nameandtime">{{createdAtDisplay}}</p>
                                    </div>
                                </div>
                                <div class="criteriaratings">
                                    <div class="criteriascore">
                                        <h4 class="criteria">Food Quality
                                        <div class="stars">
                                            {{#times foodRating}}
                                                <span>🍗</span>
                                            {{/times}}
                                            {{#times noFood}}
                                                <span class="over-emoji">🍗</span>
                                            {{/times}}
                                        </div>
                                    </div>
            
                                    <div class="criteriascore">
                                        <h4 class="criteria">Service
                                        <div class="stars">
                                            {{#times serviceRating}}
                                                <span>🤝</span>
                                            {{/times}}
                                            {{#times noService}}
                                                <span class="over-emoji">🤝</span>
                                            {{/times}}
                                        </div>
                                    </div>
            
                                    <div class="criteriascore">
                                        <h4 class="criteria">Affordability
                                        <div class="stars">
                                            {{#times affordabilityRating}}
                                                <span>💵</span>
                                            {{/times}}
                                            {{#times noMoney}}
                                                <span class="over-emoji">💵</span>
                                            {{/times}}
                                        </div>
                                    </div>
                                </div>

                                <div class="reviewtext" id="rev{{order}}">
                                    <span class="longtext">{{longText}}</span>
                                    {{#unless hasNoSeeMore}}
                                        <span class="full-text">{{fullText}}</span>
                                        <span class="see-more" onclick="toggleSeeMore('rev{{order}}')"><b>...see more</b></span>
                                    {{/unless}}
                                </div>
                            </div>

                            <div class="rate-review" id="likeDislikeButtons">
                                <div class="like-container">


                                    {{#if loggedIn}}

                                        {{#if isOwnReview}}
                                            {{>unclickable-like}}

                                            <span id="three-dots" onclick="toggleOptions(this)">&nbsp;&nbsp;&#8286;</span>
                                            <div class="options-popup" id="optionsPopup">
                                                <a onclick="editReview({{foodRating}}, {{serviceRating}}, {{affordabilityRating}}, {{order}})">Edit</a>
                                                <a onclick="deleteReview()">Delete</a>
                                            </div>
                                        {{else}}
                                        <div class="likeset" id="{{_id}}">

                                            {{#if isLiked}}
                                                <button class="like-dislike colored" id="like">&#128077;</button>
                                            {{else}}
                                                <button class="like-dislike" id="like">&#128077;</button>
                                            {{/if}}
                                            <span class = "numberoffeedback">{{noOfLikes}}</span>

                                            {{#if isDisliked}}
                                                <button class="like-dislike colored" id="dislike">&#128078;</button>
                                            {{else}}
                                                <button class="like-dislike" id="dislike">&#128078;</button>
                                            {{/if}}
                                            <span class="numberoffeedback">{{noOfDislikes}}</span>
                                    </div>

                                        {{/if}}
                                    {{else}}
                                        {{>unclickable-like}}
                                    {{/if}}
                                   





                                </div>
                            </div>

                            {{#if isOwnReview}}
                            <!-- EDIT REVIEW PART -->
                                <div class="editReviewOverlay" id="editReviewOverlay{{order}}" onclick="closeEditPopup({{order}})"></div>
                                <div id="editReview{{order}}" class="editReview">
                                        <div class="edit-modal-content">
                                            <span class="closeEdit" onclick="closeEditPopup({{order}})">&times;</span>
                                            <span id="editReviewheader">Edit Review</span>
                                            <div id="reviewbody">
                                                <p id ="getReview{{order}}">{{body}}</p>
                                            </div>
                                            <div class="criteriaratearea" id ="editRateArea">
                                                <div class="criteriarate">
                                                    <h3 class="criterialbl">Food Quality</h3>
                                                    <div class="star-sorting" data-criterion="food">

                                                        {{#times 5}}
                                                            <span class="slider-emoji-rating edit-food-rating edit-rating">🍗</span>
                                                        {{/times}}
                                                        
                                                    </div>
                                                </div>

                                                <div class="criteriarate">
                                                    <h3 class="criterialbl">Service</h3>
                                                    <div class="star-sorting" data-criterion="service">
                                                       
                                                        {{#times 5}}
                                                            <span class="slider-emoji-rating edit-service-rating edit-rating">🤝</span>
                                                        {{/times}}
                                                        
                                                    </div>
                                                </div>

                                                <div class="criteriarate">
                                                    <h3 class="criterialbl">Affordability</h3>
                                                    <div class="star-sorting" data-criterion="price">
                                                        {{#times 5}}
                                                            <span class="slider-emoji-rating edit-price-rating edit-rating">💵</span>
                                                        {{/times}}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <textarea class="textbox modaltitlearea" id="reviewEditTitle{{order}}" rows="1" value="{{title}}"></textarea>
                                            <br>
                                            <div id="reviewEditor{{order}}" class="reviewEditor"></div>
                                            
                                            <div class="uploadarea" id ="editreviewattachment">
                                                <div class="photo-upload">
                                                    <label for="editphoto-input{{order}}" class="upload-label">
                                                    <img src="/assets/upload.svg" alt="Upload Icon" class="upload-icon">
                                                    <br>
                                                    <span class="upload-text">Upload</span>
                                                    </label>
                                                    <input type="file" id="editphoto-input{{order}}" name="photos" accept="image/*,video/*" multiple class="hidden-input">
                                                </div>
                                                
                                            
                                                <div class="editphoto-container{{order}}" id="editphoto-container{{order}}">
                                                    {{#each media}}
                                                        <div class="media-container">
                                                            {{#if (isVideo this)}}
                                                                <video src="/uploads/reviewMedia/{{this}}" class="revpic" onclick="openModal('/uploads/reviewMedia/{{this}}')"></video>
                                                            {{else}}
                                                                <img src="/uploads/reviewMedia/{{this}}" class="revpic" onclick="openModal('/uploads/reviewMedia/{{this}}')"></img>
                                                            {{/if}}
                                                            <span class="delete-btn" onclick="removeMedia(this)">&times;</span>
                                                        </div>
                                                    {{/each}}
                                                </div>
                            
                                                <div class="modal" id="modal" onclick="closeModal()">
                                                    <div class="modal-content" onclick="event.stopPropagation();">
                                                    <span class="close" onclick="closeModal()">&times;</span>
                                                    <div id="modal-media-container"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="publisheditbtn" id="publisheditbtn" onclick="publishEditedReview()">Publish</button>
                                        </div>
                                </div>

                            {{/if}}
                        </div>

                        <div class="photopanel">
                            {{#each media}}

                                {{#if (isVideo this)}}
                                    <video src="/uploads/reviewMedia/{{this}}" class="revpic" onclick="openModal('/uploads/reviewMedia/{{this}}')"></video>

                                {{else}}
                                    <img src="/uploads/reviewMedia/{{this}}" class="revpic" onclick="openModal('/uploads/reviewMedia/{{this}}')"></img>

                                {{/if}}
                            {{/each}}
                        </div>

                        <div class="modal" id="modal" onclick="closeModal()">
                            <div class="modal-content" onclick="event.stopPropagation();">
                            <span class="close" onclick="closeModal()">&times;</span>
                            <div id="modal-media-container"></div>
                            </div>
                        </div>


                        {{#each replies}}
                        
                            <div class="responsepanel">
                            
                                <div class="score-username">
                                    
                                    <div class="profilearea">
                                        <img src="/assets/restaurant icons/{{media}}" class="profilepic">
                                    </div>

                                    <div class="titlearea">

                                        <h2>{{name}} <i class="fas fa-check-circle verified-icon"></i></h2>
                                        <p class="nameandtime">{{createdAt}}</p>

                                    </div>
                                
                                </div>
                                
                                <div id="replytext">
                                    <p>{{body}}</p>
                                </div>

            
                            </div>
                        {{/each}}
                    </div>
                {{/each}}

            </div>
        </div>
       </div>

       <div class="right">
            <div class="right-settings-container">
                <div class="rating-container">
                    <div class="overallrate">
                        <h2 class="segoe">Overall Rating</h2>
                        <h1 class="reviewoverall">{{rating}}/5</h1>
                        <input type="hidden" id="fiveStar" value="{{noOfFiveStars}}">
                        <input type="hidden" id="fourStar" value="{{noOfFourStars}}">
                        <input type="hidden" id="threeStar" value="{{noOfThreeStars}}">
                        <input type="hidden" id="twoStar" value="{{noOfTwoStars}}">
                        <input type="hidden" id="oneStar" value="{{noOfOneStars}}">
                    </div>
                    
                    <p class="segoe">{{numberOfReviews}} reviews</p>
                    <div class="chart-container">
                        <canvas id="ratingChart"></canvas>
                    </div>                
                </div>
            
                <div class="search-settings" id="search-settings">
                    <div class="search-settings-container">

                        <h2 class="segoe">Search Review</h2>

                        <div class="search-rev-outer-container">
                            <div class="search-rev-container">
                                <input type="text" placeholder="Search for a review" class="search-rev-input" name="search-rev-input" id="search-rev-input">
                                <button type="submit" class="search-rev-but"><i class="fas fa-search"></i></button>
                            </div>
                        </div>

                        <div class="filter-row">

                            <div class="search-setting">
                                <div class="star-sorting">
                                    <p>Filter reviews: </p>
                                    <span class="filter-slider slider-emoji-rating slider-star-rating">⭐</span>
                                    <span class="filter-slider slider-emoji-rating slider-star-rating">⭐</span>
                                    <span class="filter-slider slider-emoji-rating slider-star-rating">⭐</span>
                                    <span class="filter-slider slider-emoji-rating slider-star-rating">⭐</span>
                                    <span class="filter-slider slider-emoji-rating slider-star-rating">⭐</span>
                                </div>
                            </div>

                    
                            <div class="price-setting">
                                <p>Affordability</p>
                                <div class="price-slider" id="price-filter">
                                    <span class="filter-slider slider-emoji-rating filter-price-rating">💵</span>
                                    <span class="filter-slider slider-emoji-rating filter-price-rating">💵</span>
                                    <span class="filter-slider slider-emoji-rating filter-price-rating">💵</span>
                                    <span class="filter-slider slider-emoji-rating filter-price-rating">💵</span>
                                    <span class="filter-slider slider-emoji-rating filter-price-rating">💵</span>
                                </div>
                            </div>

                        </div>

                        <div class="filter-row">
                            <div class="search-setting">
                                <p>Food Quality</p>
                                    <div class="star-sorting" id="food-filter">
                                    <span class="filter-slider slider-emoji-rating filter-food-rating">🍗</span>
                                    <span class="filter-slider slider-emoji-rating filter-food-rating">🍗</span>
                                    <span class="filter-slider slider-emoji-rating filter-food-rating">🍗</span>
                                    <span class="filter-slider slider-emoji-rating filter-food-rating">🍗</span>
                                    <span class="filter-slider slider-emoji-rating filter-food-rating">🍗</span>
                                </div>
                            </div>

                            <div class="search-setting">
                                <p>Service</p>
                                <div class="star-sorting" data-criterion="service">
                                <span class="filter-slider slider-emoji-rating filter-service-rating">🤝</span>
                                <span class="filter-slider slider-emoji-rating filter-service-rating">🤝</span>
                                <span class="filter-slider slider-emoji-rating filter-service-rating">🤝</span>
                                <span class="filter-slider slider-emoji-rating filter-service-rating">🤝</span>
                                <span class="filter-slider slider-emoji-rating filter-service-rating">🤝</span>
                                </div>
                            </div>


                        </div>
                                
                            <div class="sorting">
                            <p>Sort:</p>
                            <select id="criteria">
                                <option value="recommended">Recommended</option>
                                <option value="recentM">Most Recent</option>
                                <option value="recentL">Least Recent</option>
                                <option value="rating">Rating</option>
                                <option value="food-quality">Food Quality</option>
                                <option value="affordability">Price</option>
                                <option value="service">Service</option>
                            </select>
                            
                        </div>

                      
                        <div class="filter-buttons">
                            <button class="no-filter-button adv-search-button" id="noFilter">Reset</button>
                            <button class="apply-button adv-search-button" id="applyFilter">Apply</button>
                            <button class="clear-button adv-search-button" id="clearFilter">Clear Settings</button>
                        </div>
                    </div>

                </div>

            </div>
     
       </div>
    </main>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/script/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>
   
    
</body>
</html>