<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/tab-icon.png" type="image/x-icon">
    <title>{{name}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/script/general.js"></script>
    <script src="/script/like.js"></script>
    <script src="/script/quill.js"></script>
    <script src="/script/slider.js"></script>
    <script src="/script/editReview.js"></script>
  
    <link rel="stylesheet" href="/styles/resto-responsepage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- quill -->
      <script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.4/dist/quill.snow.css" rel="stylesheet">


    <!-- chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
    <script src="/script/resto-responsepage.js"></script>
</head>
<body>
    {{> navbar}}

    <main class = "main">

    <div class="left">
        <div class="restoinfo">

            <div class="options" id="optionsbtns">
                <div class="optionsbutton">
                    <span class="editoption" onclick ="editRestaurant()">Edit</span>
                    <span class="changeoption" onclick ="changePassword()">Change Password</span>
                    <span class="deleteoption" onclick="deleteRestaurant('{{_id}}')">Delete</span>
                </div>
            </div>

            <!-- FOR EDITING PASSWORD -->
            <div class="credentialsOverlay" id="credentialsOverlay" onclick="closeCredentialsPopup()"></div>

                <form id="editPassword" action="/editrestopassword" method="POST">

                <div id="credentialsModal" class="credentialsModal">
                    <span class="close-button" onclick="closeCredentialsPopup()">&times;</span>
                    <span id="credentialsheader">Change Password</span>

                    <div class="credentials-group">
                        <label for="username" class="editlabel">Old Password:</label>
                        <input type="password" id="oldPassword" name="oldPassword" class="styled-input modal-field" required data-parsley-minlength="8" data-parsley-trigger="change">
                    </div>
                    <div class="credentials-group">
                        <label for="password" class="editlabel">Password:</label>
                        <input type="password" id="newPassword" name="newPassword" class="styled-input modal-field" required data-parsley-minlength="8" data-parsley-trigger="change">
                    </div>
                    <div class="credentials-group">
                        <label for="confirmpass" class="editlabel">Confirm Password:</label>
                        <input type="password" id="confirmpass" name="confirmpass" class="styled-input modal-field" required data-parsley-minlength="8" data-parsley-trigger="change" data-parsley-equalto="#newPassword" data-parsley-equalto-message="Passwords do not match.">
                        <span id="confirmError" class="error-message"></span>
                    </div>

                    <button type="submit" class="changebutton" id="changeButton">Change Password</button>
                </div>
                </form>

            <div class="editModalOverlay" id="overlay" onclick="closeEditPopup()"></div>

            <!-- for editing -->
            <div id="editModal" class="editModal">
                <span class="close-button" onclick="closeEditPopup()">&times;</span>
                <span id="editheader">Edit Restaurant Details</span>
                <form id="editRestoForm" action="/editrestaurant" method="POST">
                    <div class="upper-part">
                        <div class="left-side">
                            <div class="input-group">
                                <label for="restoName" class="editlabel">Restaurant Name:</label>
                                <input type="text" id="restoName" name="restoName" value="{{name}}" class="styled-input">
                            </div>
                            <div class="input-group">
                                <label for="address" class="editlabel">Address:</label>
                                <input type="text" id="address" name="address" value="{{location}}" class="styled-input">
                            </div>
                            
                            <div class="input-group">
                                <label for="tags" class="editlabel">Tags:</label>
                                <input type="text" id="tags" name="tags" value="{{addSpaceForTags tag}}" class="styled-input">
                            </div>
                        </div>
                    
                        <div class="right-side">
                            <div class="input-group">
                                <label for="price" class="editlabel">Price Range (₱):</label>
                                <div class="samerow">
                                    <input type="text" id="pricestart" name="pricestart" value="{{startPriceRange}}" class="styled-input">
                                    <label for="price" class="editlabel"> - </label>
                                    <input type="text" id="priceend" name="priceend" value="{{endPriceRange}}" class="styled-input">
                                </div>
                                
                            </div>
                            
                            <div class="input-group">
                                <label for="daysopen" class="editlabel">Days Open:</label>
                                <div class="samerow">
                                    <select id="daysopenstart" name="daysopenstart" class="styled-input">
                                        <option value="Monday" {{#if (isSelectedDay "M" startOpeningDay)}}selected{{/if}}>Monday</option>
                                        <option value="Tuesday" {{#if (isSelectedDay "T" startOpeningDay)}}selected{{/if}}>Tuesday</option>
                                        <option value="Wednesday" {{#if (isSelectedDay "W" startOpeningDay)}}selected{{/if}}>Wednesday</option>
                                        <option value="Thursday" {{#if (isSelectedDay "H" startOpeningDay)}}selected{{/if}}>Thursday</option>
                                        <option value="Friday" {{#if (isSelectedDay "F" startOpeningDay)}}selected{{/if}}>Friday</option>
                                        <option value="Saturday" {{#if (isSelectedDay "SA" startOpeningDay)}}selected{{/if}}>Saturday</option>
                                        <option value="Sunday" {{#if (isSelectedDay "S" startOpeningDay)}}selected{{/if}}>Sunday</option>
                                    </select>
                                    <label for="daysopen" class="editlabel"> - </label>
                                    <select id="daysopenend" name="daysopenend" class="styled-input">
                                         <option value="Monday" {{#if (isSelectedDay "M" endOpeningDay)}}selected{{/if}}>Monday</option>
                                        <option value="Tuesday" {{#if (isSelectedDay "T" endOpeningDay)}}selected{{/if}}>Tuesday</option>
                                        <option value="Wednesday" {{#if (isSelectedDay "W" endOpeningDay)}}selected{{/if}}>Wednesday</option>
                                        <option value="Thursday" {{#if (isSelectedDay "H" endOpeningDay)}}selected{{/if}}>Thursday</option>
                                        <option value="Friday" {{#if (isSelectedDay "F" endOpeningDay)}}selected{{/if}}>Friday</option>
                                        <option value="Saturday" {{#if (isSelectedDay "SA" endOpeningDay)}}selected{{/if}}>Saturday</option>
                                        <option value="Sunday" {{#if (isSelectedDay "S" endOpeningDay)}}selected{{/if}}>Sunday</option>
                                    </select>
                                </div>

                            </div>
                            <div class="input-group">
                                <label for="operatinghour" class="editlabel">Operating Hour:</label>
                                <div class="samerow">
                                    <input type="time" id="operatinghourstart" value = "{{formatTime startOpeningHour}}" name="operatinghourstart" class="styled-input">
                                    <label for="operatinghour" class="editlabel"> - </label>
                                    <input type="time" id="operatinghourend" value = "{{formatTime endOpeningHour}}" name="operatinghourend" class="styled-input">
                                </div>

                            </div>
                        </div>
                    </div>                    
                    
                    <div class ="shotdesc-coord">
                        <div class="shortdescription">
                            <label for="shortdesc" class="editlabel" id="shortdesclabel">Short Description:</label>
                            <textarea id="shortdesc" name="shortdesc"> {{shortDescription}}</textarea>
                            
                        </div>
                    </div>

                    <div class="descriptionedit">
                        <label for="desc" class="editlabel" id ="desclabel"> Description:</label>
                        <textarea id="desc" name="desc">{{description}}</textarea>
                    </div>

                    <div class="attributesedit">
                        <div class="firstbatchattri">
                            <div class="feature"><input type="checkbox" id="deliveryCheckbox" name="attri1" {{#unless (get amenities 0 0) }} checked {{/unless}}> Offers Delivery</div>
                            <div class="feature"><input type="checkbox" id="outdoorDiningCheckbox" name="attri2" {{#unless (get amenities 1 0) }} checked {{/unless}}> Outdoor dining</div>
                            <div class="feature"><input type="checkbox" id="indoorDiningCheckbox" name="attri3" {{#unless (get amenities 2 0) }} checked {{/unless}}> Indoor dining</div>
                            <div class="feature"><input type="checkbox" id="groupsCheckbox" name="attri4" {{#unless (get amenities 3 0) }} checked {{/unless}}> Good for Groups</div>
                        </div>
                    
                        <div class="secondbatchattri">
                            <div class="feature"><input type="checkbox" id="musicTvCheckbox" name="attri5" {{#unless (get amenities 4 0) }} checked {{/unless}}> Music and TV</div>
                            <div class="feature"><input type="checkbox" id="driveThruCheckbox" name="attri6" {{#unless (get amenities 5 0) }} checked {{/unless}}> Drive-thru</div>
                            <div class="feature"><input type="checkbox" id="takeoutCheckbox" name="attri7" {{#unless (get amenities 6 0) }} checked {{/unless}}> Offers Takeout</div>
                            <div class="feature"><input type="checkbox" id="creditCardsCheckbox" name="attri8" {{#unless (get amenities 7 0) }} checked {{/unless}}> Accepts Credit Cards</div>
                        </div>
                    
                        <div class="thirdbatchattri">
                            <div class="feature"><input type="checkbox" id="eWalletCheckbox" name="attri9" {{#unless (get amenities 8 0) }} checked {{/unless}} > Accepts E-Wallet</div>
                            <div class="feature"><input type="checkbox" id="kidsCheckbox" name="attri10" {{#unless (get amenities 9 0) }} checked {{/unless}}> Good for Kids</div>
                            <div class="feature"><input type="checkbox" id="petsCheckbox" name="attri11" {{#unless (get amenities 10 0) }} checked {{/unless}}> Good for Pets</div>
                            <div class="feature"><input type="checkbox" id="veganCheckbox" name="attri12" {{#unless (get amenities 11 0) }} checked {{/unless}}> Vegetarian/Vegan Offerings</div>
                        </div>
                    </div>

                    <button type="submit" class ="saveeditbutton">Save Changes</button>
                </form>
            </div>

            <div class="restopictureareaedit" onclick="openFileInput('{{_id}}')">
                <img src="/assets/restaurant icons/{{media}}" alt="Picture" class="restopicture" id ="restopicture" name = "restopicture">
                <button class="change-button">Change Picture</button>
            </div>

            <div class="restodetailsarea">
                <div class="nameandoverallscore">
                    <h1 class="resto-title" id="restoname">{{name}}</h1>
                    <h2 class="yellowscore star-in-card">
                        
                        {{#times flooredRating}}
                            ⭐
                        {{/times}}

                        <span class="star-caption">({{rating}}/5<span>)</h2></h2>
                </div>
                <div class="moredetails">

                    <p class="restodetail" id="emojip">
                        {{#times numberOfCash}}
                            💵
                        {{/times}}
                        (P{{startPriceRange}}-{{endPriceRange}})</p>
                    {{#each tag}}
                        <p class="restodetail">{{this}}</p>
                    {{/each}}
                    {{!-- <p class="restodetail">{{tag2}}</p> --}}
                    <p class="restodetail">Open during: {{startOpeningDay}}-{{endOpeningDay}} ({{startOpeningHour}} - {{endOpeningHour}})</p>
                </div>
                <p class="description"><b>{{location}} 📍</b> {{description}}</p>
                <br>
                <div class="attributes">

                    <div class="firstbatchattri">
                        <div class="feature">
                            {{#if (get amenities 0 0) }} <span class="cross" id="deliveryCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="deliveryCheckbox">&#10004;</span> {{/if}}
                            Offers Delivery
                            </div>
                        <div class="feature">
                             {{#if (get amenities 1 0) }} <span class="cross" id="outdoorDiningCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="outdoorDiningCheckbox">&#10004;</span> {{/if}}
                            Outdoor dining
                        </div>
                        <div class="feature">
                            {{#if (get amenities 2 0) }}  <span class="cross" id="indoorDiningCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="indoorDiningCheckbox">&#10004;</span> {{/if}}
                            Indoor dining 
                        </div>
                        <div class="feature">
                            {{#if (get amenities 3 0) }} <span class="cross" id="groupsCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="groupsCheckbox">&#10004;</span> {{/if}}
                            Good for Groups
                        </div>
                    </div>

                    <div class="secondbatchattri">
                        <div class="feature">
                            {{#if (get amenities 4 0) }} <span class="cross" id="musicTvCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="musicTvCheckbox">&#10004;</span> {{/if}}
                            Music and TV
                        </div>
                        <div class="feature">
                            {{#if (get amenities 5 0) }} <span class="cross" id="driveThruCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="driveThruCheckbox">&#10004;</span> {{/if}}
                            Drive-thru
                        </div>
                        <div class="feature">
                            {{#if (get amenities 6 0) }} <span class="cross" id="takeoutCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="takeoutCheckbox">&#10004;</span> {{/if}}
                            Offers Takeout
                        </div>
                        <div class="feature">
                             {{#if (get amenities 7 0) }} <span class="cross" id="creditCardsCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="creditCardsCheckbox">&#10004;</span> {{/if}}
                            Accepts Credit Cards
                        </div>
                    </div>
                    
                    <div class="thirdbatchattri">
                        <div class="feature">
                            {{#if (get amenities 8 0) }} <span class="cross" id="eWalletCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="eWalletCheckbox">&#10004;</span> {{/if}}
                            Accepts E-Wallet
                        </div>
                        <div class="feature">
                            {{#if (get amenities 9 0) }} <span class="cross" id="kidsCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="kidsCheckbox">&#10004;</span> {{/if}}
                            Good for Kids
                        </div>
                        <div class="feature">
                            {{#if (get amenities 10 0) }} <span class="cross" id="petsCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="petsCheckbox">&#10004;</span> {{/if}}
                            Good for Pets
                        </div>
                        <div class="feature">
                            {{#if (get amenities 11 0) }} <span class="cross" id="veganCheckbox">&#10008;</span> {{else}} <span class="checkmark" id="veganCheckbox">&#10004;</span> {{/if}}
                            Vegetarian/Vegan Offerings
                        </div>
                    </div>

                </div>
            </div>
        </div>

        
        <hr>
        <div class="reviewarea">
                <div class="review-and-response">
                {{#each reviews}}
                    {{> reviews}}
                {{else}}
                    <p>No reviews found.</p>
                {{/each}}
            </div>
        </div>  
    </div>

        <div class="right">
            <div class="right-settings-container">
                <div class="rating-container">
                    <div class="overallrate">
                        <h2 class="segoe">Overall Rating</h2>
                        <h1 class="reviewoverall">{{rating}}/5</h1>
                        <input type="hidden" id="fiveStar" value="{{noOfFiveStars}}">
                        <input type="hidden" id="fourStar" value="{{noOfFourStars}}">
                        <input type="hidden" id="threeStar" value="{{noOfThreeStars}}">
                        <input type="hidden" id="twoStar" value="{{noOfTwoStars}}">
                        <input type="hidden" id="oneStar" value="{{noOfOneStars}}">
                    </div>
                    
                    <p class="segoe">{{numberOfReviews}} reviews</p>
                    <div class="chart-container">
                        <canvas id="ratingChart"></canvas>
                    </div>                
                </div>
            
                <div class="search-settings" id="search-settings">
                    <div class="search-settings-container">

                        <h2 class="segoe">Search Review</h2>

                        <div class="search-rev-outer-container">
                            <div class="search-rev-container">
                                <input type="text" placeholder="Search for a review" class="search-rev-input" name="search-rev-input" id="search-rev-input">
                                <button type="submit" class="search-rev-but"><i class="fas fa-search"></i></button>
                            </div>
                        </div>

                        <div class="filter-row">

                            <div class="search-setting">
                                <div class="star-sorting">
                                    <p>Filter reviews: </p>
                                    <span class="filter-slider slider-emoji-rating slider-star-rating">⭐</span>
                                    <span class="filter-slider slider-emoji-rating slider-star-rating">⭐</span>
                                    <span class="filter-slider slider-emoji-rating slider-star-rating">⭐</span>
                                    <span class="filter-slider slider-emoji-rating slider-star-rating">⭐</span>
                                    <span class="filter-slider slider-emoji-rating slider-star-rating">⭐</span>
                                </div>
                            </div>

                    
                            <div class="price-setting">
                                <p>Affordability</p>
                                <div class="price-slider" id="price-filter">
                                    <span class="filter-slider slider-emoji-rating filter-price-rating">💵</span>
                                    <span class="filter-slider slider-emoji-rating filter-price-rating">💵</span>
                                    <span class="filter-slider slider-emoji-rating filter-price-rating">💵</span>
                                    <span class="filter-slider slider-emoji-rating filter-price-rating">💵</span>
                                    <span class="filter-slider slider-emoji-rating filter-price-rating">💵</span>
                                </div>
                            </div>

                        </div>

                        <div class="filter-row">
                            <div class="search-setting">
                                <p>Food Quality</p>
                                    <div class="star-sorting" id="food-filter">
                                    <span class="filter-slider slider-emoji-rating filter-food-rating">🍗</span>
                                    <span class="filter-slider slider-emoji-rating filter-food-rating">🍗</span>
                                    <span class="filter-slider slider-emoji-rating filter-food-rating">🍗</span>
                                    <span class="filter-slider slider-emoji-rating filter-food-rating">🍗</span>
                                    <span class="filter-slider slider-emoji-rating filter-food-rating">🍗</span>
                                </div>
                            </div>

                            <div class="search-setting">
                                <p>Service</p>
                                <div class="star-sorting" data-criterion="service">
                                <span class="filter-slider slider-emoji-rating filter-service-rating">🤝</span>
                                <span class="filter-slider slider-emoji-rating filter-service-rating">🤝</span>
                                <span class="filter-slider slider-emoji-rating filter-service-rating">🤝</span>
                                <span class="filter-slider slider-emoji-rating filter-service-rating">🤝</span>
                                <span class="filter-slider slider-emoji-rating filter-service-rating">🤝</span>
                                </div>
                            </div>


                        </div>
                                
                            <div class="sorting">
                            <p>Sort:</p>
                            <select id="criteria">
                                <option value="recommended">Recommended</option>
                                <option value="recentM">Most Recent</option>
                                <option value="recentL">Least Recent</option>
                                <option value="rating">Rating</option>
                                <option value="food-quality">Food Quality</option>
                                <option value="affordability">Price</option>
                                <option value="service">Service</option>
                            </select>
                            
                        </div>

                      
                        <div class="filter-buttons">
                            <button class="no-filter-button adv-search-button" id="noFilter">Reset</button>
                            <button class="apply-button adv-search-button" id="applyFilter">Apply</button>
                            <button class="clear-button adv-search-button" id="clearFilter">Clear Settings</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    
    
    </main>
    <script>
        let quillTargets = document.getElementsByClassName('reply-editor')
        let replyPanels = document.getElementsByClassName('replypanel')
        let responsePanels = document.getElementsByClassName('responsepanel')

        
        let quills = []
        Array.from(quillTargets).forEach(quillTarget => quills.push(createQuill(quillTarget)));
        Array.from(replyPanels).forEach(replyPanel => $(replyPanel).hide());
        Array.from(responsePanels).forEach(responsePanel => 
        {
            let bodyText = responsePanel.querySelector("#replytext")

            if(bodyText.innerHTML.length == 0){
                console.log('here');
                $(responsePanel).hide()
            }

        }

        );
    </script>
    <script src="/script/chart.js"></script>
</body>
</html>