<div class="restoinfo">
            <div class="restopicturearea">
                <img src="/assets/restaurant icons/{{media}}" alt="Picture" class="restopicture">
            </div>
            <div class="restodetailsarea">
                <div class="nameandoverallscore">
                    <h1 class="resto-title">{{name}}</h1>
                    <h2 class="yellowscore star-in-card">
                        
                        {{#times stars}}
                            ⭐
                        {{/times}}

                        <span class="star-caption">({{rating}}/5<span>)</h2>
                </div>
                <div class="moredetails">
                    <p class="restodetail" id="emojip">
                        {{#times numberOfCash}}
                            💵
                        {{/times}}
                        (P{{startPriceRange}}-{{endPriceRange}})</p>
                    {{#each tag}}
                        <p class="restodetail">{{this}}</p>
                    {{/each}}
                    {{!-- <p class="restodetail">{{tag2}}</p> --}}
                    <p class="restodetail">Open during: {{startOpeningDay}}-{{endOpeningDay}} ({{startOpeningHour}} - {{endOpeningHour}})</p>
                </div>
                <p class="description"><b>{{location}} 📍</b> {{description}}</p>
                <br>
                <div class="attributes">

                    <div class="firstbatchattri">
                        <div class="feature">
                            {{#if (get amenities 0 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}
                            Offers Delivery
                        </div>
                        <div class="feature">
                            {{#if (get amenities 1 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}
                            Outdoor dining
                        </div>
                        <div class="feature">
                            {{#if (get amenities 2 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}
                            Indoor dining</div>
                        <div class="feature">
                            {{#if (get amenities 3 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}
                            Good for Groups</div>
                    </div>

                    <div class="secondbatchattri">
                        <div class="feature">
                            {{#if (get amenities 4 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}
                            Music and TV</div>
                        <div class="feature">
                            {{#if (get amenities 5 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}
                            Drive-thru</div>
                        <div class="feature">
                            {{#if (get amenities 6 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}
                            Offers Takeout</div>
                        <div class="feature">
                            {{#if (get amenities 7 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}
                            Accepts Credit Cards</div>
                    </div>
                    
                    <div class="thirdbatchattri">
                        <div class="feature">
                            {{#if (get amenities 8 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}
                            Accepts E-Wallet</div>
                        <div class="feature">{{#if (get amenities 9 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}Good for Kids</div>
                        <div class="feature">{{#if (get amenities 10 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}Good for Pets</div>
                        <div class="feature">{{#if (get amenities 11 0) }} <span class="cross">&#10008;</span> {{else}} <span class="checkmark">&#10004;</span> {{/if}}Vegetarian/Vegan Offerings</div>
                    </div>

                </div>
            </div>
        </div>
