
<div class="review" id="{{_id}}" data-restaurant="{{restaurantId}}"> 
    <div class="review-panel" id="reviewPanel2">

    <div class="profile-score">
        <div class="profilearea">
            <img src="/uploads/avatars/{{profilePicture}}" class="profilepic">
        </div>
        <div class="score">
            <h2 class="yellowscore" id="user-score">{{overallRating}}
            </h2>
        </div>
        <div class="reply-button" id="{{isRestaurant}}">
            {{#if isResto}}
                <a onclick="replyReview('{{_id}}', '{{restaurantId}}')">Reply</a>

                <div class="replyToReviewOverlay" id="replyToReviewOverlay{{_id}}" onclick="closeEditPopup('{{_id}}')"></div>
                <div class="replyToReview" id="replyToReview{{_id}}">
                    <div class="reply-modal-content">
                        <span class="closeEdit" onclick="closeReplyPopup('{{_id}}')">&times;</span>
                        <span id="editReviewheader">Reply to Review</span>
                        <br><br>
                        <div id="replyToReviewEditor{{_id}}" class="replyToReviewEditor"></div>
                        <button class="publishReplyBtn" id="publishReplyBtn{{_id}}">Publish</button>


                    </div>  
                </div>

            {{/if}}
        </div>
    </div>

    <div class="review-center-tile">
        <div class="score-username">
            <h2 class="titlearea">
                {{#if isOwnReview}}
                    <i class="fas fa-star owned"></i>
                {{/if}}
                {{title}}</h2>
        
            <div class="nametitle">
                <a href="/profile/{{username}}" class="nameandtime">@{{username}}</a>
                <p class="nameandtime"> · </p>
                <p class="nameandtime">Created: {{formatDate createdAt}}</p>
                <p class="nameandtime"> · </p>
                <p class="nameandtime">{{formatEdit editedAt}}</p>

            </div>
        </div>
        <div class="criteriaratings">
            <div class="criteriascore">
                <h4 class="criteria">Food Quality
                <div class="stars">
                    {{#times foodRating}}
                        <span>🍗</span>
                    {{/times}}
                    {{#timesInverse foodRating}}
                        <span class="over-emoji">🍗</span>
                    {{/timesInverse}}
                </div>
            </div>

            <div class="criteriascore">
                <h4 class="criteria">Service
                <div class="stars">
                    {{#times serviceRating}}
                        <span>🤝</span>
                    {{/times}}
                    {{#timesInverse serviceRating}}
                        <span class="over-emoji">🤝</span>
                    {{/timesInverse}}
                </div>
            </div>

            <div class="criteriascore">
                <h4 class="criteria">Affordability
                <div class="stars">
                    {{#times affordabilityRating}}
                        <span>💵</span>
                    {{/times}}
                    {{#timesInverse affordabilityRating}}
                        <span class="over-emoji">💵</span>
                    {{/timesInverse}}
                </div>
            </div>
        </div>

        <div class="reviewtext" id="rev{{order}}">
            {{{body}}}
        </div>
    </div>

    <div class="rate-review" id="likeDislikeButtons">
        <div class="like-container">
            <i class="fa fa-expand expand" aria-hidden="true" onclick="toggleSeeMore(`rev{{order}}`, this)"></i>


            {{#if loggedIn}}

                {{#if isOwnReview}}
                    {{>unclickable-like}}

                    <span id="three-dots" onclick="toggleOptions(this)">&nbsp;&nbsp;&#8286;</span>
                    <div class="options-popup" id="optionsPopup">
                        <a onclick="editReview({{foodRating}}, {{serviceRating}}, {{affordabilityRating}}, {{order}})">Edit</a>
                        <a onclick="deleteReview('{{_id}}', '{{restaurantId}}')">Delete</a>
                    </div>
                {{else}}
                <div class="likeset" id="{{_id}}">

                    {{#if isLiked}}
                        <button class="like-dislike colored" id="like">💖</button>
                    {{else}}
                        <button class="like-dislike" id="like">💖</button>
                    {{/if}}
                    <span class = "numberoffeedback">{{noOfLikes}}</span>

                    {{#if isDisliked}}
                        <button class="like-dislike colored" id="dislike">😤</button>
                    {{else}}
                        <button class="like-dislike" id="dislike">😤</button>
                    {{/if}}
                    <span class="numberoffeedback">{{noOfDislikes}}</span>
            </div>

                {{/if}}
            {{else}}
                {{>unclickable-like}}
            {{/if}}
            





        </div>
    </div>

    {{#if isOwnReview}}
        {{> editReview}}
    {{/if}}
    </div>

    <div class="photopanel">
        {{#each media}}

            {{#if (isVideo this)}}
                <video src="/uploads/reviewMedia/{{this}}" class="revpic" onclick="openModal('/uploads/reviewMedia/{{this}}')"></video>

            {{else}}
                <img src="/uploads/reviewMedia/{{this}}" class="revpic" onclick="openModal('/uploads/reviewMedia/{{this}}')"></img>

            {{/if}}
        {{/each}}
    </div>

    <div class="modal" id="modal" onclick="closeModal()">
        <div class="modal-content" onclick="event.stopPropagation();">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="modal-media-container"></div>
        </div>
    </div>


    {{#each replies}}

        <div class="responsepanel">

            <div class="score-username">
                
                <div class="profilearea">
                    <img src="/assets/restaurant icons/{{media}}" class="profilepic">
                </div>

                <div class="titlearea">

                    <h2>{{name}} <i class="fas fa-check-circle verified-icon"></i></h2>
                    <p class="nameandtime">{{formatDate createdAt}} · {{formatEdit editedAt}}</p>
                    
                </div>
            
            </div>
            
            <div class="restaurant-replytext" id="replyToReviewContent{{_id}}">{{{body}}}</div>


            {{#if isRestaurantOwner}}
                <p id="getReply{{_id}}" style="display: none;">{{body}}</p>
                <span id="three-dots-editReply" onclick="toggleOptions(this)">&nbsp;&nbsp;&#8286;</span>
                <div class="options-popup" id="optionsPopup">
                    <a onclick="replyReview('{{reviewId}}', '{{restaurantId}}', '{{_id}}')">Edit</a>
                    <a onclick="deleteResponse('{{reviewId}}', '{{restaurantId}}', '{{_id}}')">Delete</a>
                </div>
            {{/if}}

        </div>

    {{/each}}
</div>

